.show-item-list .list {
  font-weight: bold;
  width: 3.45rem;
  height: 2.43rem;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
}

.show-item-list .list img {
  width: 1.08rem;
  height: 1.44rem;
}

.show-item-list .list .right-column {
  width: 3.45rem;
  height: 2.10rem;
  border: 1px solid;
  position: relative;
}

.show-item-list .list .discount {
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  bottom: 0.7rem;
  background-image: linear-gradient(315deg, #ff1d41, #ee0e87);
  color: #fff;
  right: 0.2rem;
  font-size: 0.12rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 100%;
}

.show-item-list .list .discount i:nth-child(1) {
  font-size: 0.18rem;
}

.show-item-list .list .show-name {
  width: 100%;
  color: #000;
  font-size: 0.16rem;
  line-height: 0.22rem;
  max-height: 0.44rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: bold;
}

.show-item-list .list .show-time {
  font-size: 0.13rem;
  color: #95949d;
  line-height: 0.18rem;
}

.show-item-list .list .show-avenue {
  font-size: 0.13rem;
  color: #95949d;
}
